@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
	background-color: #fffcff;
	font-size: 18px;
	width: 100%;
	margin: 0 auto;
	margin-top: 2%;
}

div#header {
	font-size: 28px;
	font-family: "Sacramento";
	color: pink;
	width: 100%;
	
}

div#header > h1#title {
	width: 20%;
	margin: 0 auto;
	margin-left: 2%;
	
}
